@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


:root {
    --animation-link1: 2s;
    --animation-link2: 2.3s;
    --animation-link3: 2.6s;
    --animation-link4: 2.9s;
    --animation-link1Nr: 2;
    --animation-link2Nr: 2.3;
    --animation-link3Nr: 2.6;
    --animation-link4Nr: 2.9;

    --typewriter: 3.5s;
   
    --animation-name: 5.75s;
    --animation-nameNr: 5.75;

    --animation-vorstellung-text: 7.25s;
    --animation-vorstellung-emoticon: 8.25s;
    /*
    -animation-vorstellung-text sollte immer (--animation-name + 1.5s) sein
    */
    
    --animation-uebermich-image: 1s;
    
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

a:link {
    color:#F51720;
    text-decoration: none;
}

a:hover {
    color:#F51720;
}

a:visited {
    color:#F51720;
}

.content {
    background-color: #050A30;
    padding-top: 10vh;
    padding-left: 10vh;
    padding-right: 10vh;
}

p {
    /*
    text-shadow: 
    0.02em 0 0 rgba(238, 245, 37),
    0.06em 0 0 rgba(255, 0, 0, 0.75),
    -0.02em 0 0 rgba(0, 247, 255, 0.75),
    -0.06em 0 0 rgba(0, 0, 255, 0.75);
    */
}

span {
    color:#F51720;
}



.slide-border {
    overflow: hidden;
}

.slide-in-right1 {
    animation: Slide_in_right1 0.75s ease;
}

.slide-in-right2 {
    animation: Slide_in_right2 1.5s ease;
}

.slide-in-up1 {
    animation: Slide_in_up1 var(--animation-link1) ease;
}

.slide-in-up2 {
    animation: Slide_in_up2 var(--animation-link2) ease;
}

.slide-in-up3 {
    animation: Slide_in_up3 var(--animation-link3) ease;
}

.slide-in-up4 {
    animation: Slide_in_up4 var(--animation-link4) ease;
}

@keyframes Slide_in_right1{
    
    0% {
        transform: translateX(-150px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes Slide_in_right2{
    
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes Slide_in_up1{
    
    0% {
        transform: translateY(calc(var(--animation-link1Nr) * 75px));
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes Slide_in_up2{
    
    0% {
        transform: translateY(calc(var(--animation-link2Nr) * 75px));
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes Slide_in_up3{
    
    0% {
        transform: translateY(calc(var(--animation-link3Nr) * 75px));
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes Slide_in_up4{
    
    0% {
        transform: translateY(calc(var(--animation-link4Nr) * 75px));
    }
    100% {
        transform: translateY(0px);
    }
}





.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
    background-color: #050A30;
}

.logo {
    display: flex;
}

.logo-image {
    cursor: pointer;
}

.logo-name{
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 10px;  
}

.nav-links {
    font-family: 'Montserrat', sans-serif;
    color: #FBF9FA;
    list-style: none;
    font-size: 20px;
    background-color: #000C66;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.nav-links {
    font-family: 'Montserrat', sans-serif;
    color: #FBF9FA;
    list-style: none;
    font-size: 20px;
    background-color: #000C66;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.nav-links li {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}

.nav-links li:active {
    transform: scale(0.98);
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}



.vorstellung {
    display: flex;
    height: 80vh;
}

.vorstellung-text {
    list-style: none;
    transform: translateX(5%);
    margin-top: 6%;
    margin-left: 12%;
    
}

.typewriter {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color:#7EC8E3;
    list-style: none;    
    height: 26px;
    overflow: hidden;
}

.typewriter li {
    position: relative;
    width: max-content;
    animation: slide calc(var(--typewriter) * 2) steps(2);
}

@keyframes slide {
    0% {
        top: -30px;
    }
    100% {
        top: +30px;
    }
}

.typewriter .text1::after {
    content: "";
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: #050A30;
    border-left: 2px solid #7EC8E3;
    left: 0;
    animation: typing1 var(--typewriter) steps(16);
}

.typewriter .text2::after {
    content: "";
    position:absolute;
    height: 0%;
    width: 0%;
    background-color: #050A30;
    border-left: 2px solid #7EC8E3;
    left: 0;
    animation: typing2 var(--typewriter) steps(16) 2;

}

@keyframes typing1 {
    40%,
    60% {
        left: calc(100%);
    }
    100% {
        left: 0;
    }
}

@keyframes typing2 {
    0% {
        height: 100%;
        width: 100%;
    }
    40%,
    60% {
        left: calc(100%);
    }
    100% {
        left: 100%;
        height: 100%;
        width: 100%;
    }
}

@keyframes idle {
    0% {
        
        opacity: 0%;
    }
    49%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
    
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color:#FBF9FA;
    padding-top: 2%;
    animation: Slide_in_up5 var(--animation-name) ease;
}

@keyframes Slide_in_up5{
    
    0% {
        transform: translateY(calc(var(--animation-nameNr) * 75px));
    }
    87.5%{ 
        transform: translateY(calc(var(--animation-nameNr) * 75px));
    }
    100% {
        transform: translateY(0px);
    }
}

.description {
    padding-top: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color:#FBF9FA;
    animation: Slide_in_up6 var(--animation-vorstellung-text);
}

@keyframes Slide_in_up6{
    
    0% {
        transform: translateY(calc(var(--animation-nameNr) * 75px));
    }
    87.5%{ 
        transform: translateY(calc(var(--animation-nameNr) * 75px));
    }
    100% {
        transform: translateY(0px);
    }
}

.emoticon1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    color:#FBF9FA;
    margin-top: 2vh;
    animation: Slide_in_up7 var(--animation-vorstellung-emoticon);
}

@keyframes Slide_in_up7{
    
    0% {
        transform: translateY(calc(var(--animation-nameNr) * 75px));
    }
    87.5%{ 
        transform: translateY(calc(var(--animation-nameNr) * 75px));
    }
    100% {
        transform: translateY(0px);
    }
}


.titel {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color:#FBF9FA;
    text-align: center;
}


.whoami {
    height: 100vh;
    background-color: #050A30;
    padding-top: 4vh;

}

.whoami-content {
    margin-top: 10%;
    display: flex;
}

.image {
    margin-left: 10%;
}

.whoami-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color:#FBF9FA;
    margin-left: 10%;
    margin-top: 6%;
    margin-right: 10%;
    display: inline-flex;
}

.emoticon2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    color:#FBF9FA;
    margin-top: 10vh;
    margin-left: 27vw;
}





.aboutMe {
    height: 100vh;
    background-color: #050A30;
    padding-top: 4vh;
}

.aboutMe-content {
    text-align: center;
    margin-top: 20vh;
}

.aboutMe-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color:#FBF9FA;
    margin-left: 18%;
    margin-top: 6%;
    margin-right: 18%;
}

.aboutMe-tables {
    margin: 10vh;
    display: flex;
    justify-content: space-between;

}

.table-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color:#FBF9FA;
    margin-bottom: 5vh;
}

.table-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color:#FBF9FA;
    padding: 1vh;
}





.kontakt {
    height: 100vh;
    background-color: #050A30;
    padding-top: 16vh;
}

.kontakt-content {
    display: flex;
    flex-direction: row;
    margin: 10vh;
    justify-content: space-between;
}

.info-box {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color:#FBF9FA;
    padding: 1em;
    margin: 1em;
    background-color: #000214;
    border-radius: 25px;
}

.left-side {
    margin-left: 4vw;

}


.emoticon3:before {
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    color:#FBF9FA;
    margin-top: 2vh;
    content: '';
    animation: rotation infinite 1.5s;
    margin-right: 2vw;
}

@keyframes rotation {
    0%{
        content: '\\(^_^)/';
    }
    12.5%{
        content: '(\\^_)/';
    }
    25%{
        content: '( |^)/';
    }
    37.5%{
        content: '(　/)';
    }
    50%{
        content: '\\(　 )/';
    }
    62.5%{
        content: '(\\　)';
    }
    75%{ 
        content: '\\(^| )';
    }
    87.5%{
        content: '\\(_^/)';
    }
    100%{
        content: '\\(^_^)/';
    }
}


.right-side {
    display: flex;
    flex-direction: column;
    margin-right: 4vw;
}
.label {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color:#FBF9FA;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

input {
    background-color: #000214;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: aliceblue;
    border: none;
    height: 2em;
    width: 20em;
}

textarea {
    background-color: #000214;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: aliceblue;
    border: none;
    height: 10em;
    width: 25em;
}

.submit-button {
    background-color: #000214;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: aliceblue;
    margin-top: 5vh;
    width: 5em;
    cursor: pointer;
}

.submit-button:active {
    transform: scale(0.98);
    background-color: #000214;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: aliceblue;
    margin-top: 5vh;
    width: 5em;
    cursor: pointer;
}
