@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

p {
    /*
    text-shadow: 
    0.02em 0 0 rgba(238, 245, 37),
    0.06em 0 0 rgba(255, 0, 0, 0.75),
    -0.02em 0 0 rgba(0, 247, 255, 0.75),
    -0.06em 0 0 rgba(0, 0, 255, 0.75);
    */
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
    background-color: #050A30;
}

.nav-links {
    font-family: 'Montserrat', sans-serif;
    color: #FBF9FA;
    list-style: none;
    font-size: 20px;
    background-color: #000C66;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.nav-links li {
    display: inline-block;
    padding: 20px;
    
}

.titel {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color:#FBF9FA;
    text-align: center;
}

.uebermich {
    height: 100vh;
    background-color: #050A30
}

