@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto+Mono&display=swap');

:root {
    --animation-link1: 2s;
    --animation-link2: 2.3s;
    --animation-link3: 2.6s;
    --animation-link4: 2.9s;
    --animation-link1Nr: 2;
    --animation-link2Nr: 2.3;
    --animation-link3Nr: 2.6;
    --animation-link4Nr: 2.9;

    --typewriter: 3.5s;
   
    --animation-name: 5.75s;
    --animation-nameNr: 5.75;
    /*
    -animation-vorstellung-text sollte immer (--animation-name + 1.5s) sein
    */
    --animation-vorstellung-text-image: 7.5s;
    
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link {
    color:#F51720;
    text-decoration: none;
}

a:hover {
    color:#F51720;
}

a:visited {
    color:#F51720;
}

.content {
    background-color: #050A30;
    padding: 10vh;
}

p {
    /*
    text-shadow: 
    0.02em 0 0 rgba(238, 245, 37),
    0.06em 0 0 rgba(255, 0, 0, 0.75),
    -0.02em 0 0 rgba(0, 247, 255, 0.75),
    -0.06em 0 0 rgba(0, 0, 255, 0.75);
    */
}


.slide-border {
    overflow: hidden;
}

.slide-in-right1 {
    animation: Slide_in_right1 0.75s ease;
}

.slide-in-right2 {
    animation: Slide_in_right2 1.5s ease;
}

.slide-in-up1 {
    animation: Slide_in_up1 var(--animation-link1) ease;
}

.slide-in-up2 {
    animation: Slide_in_up2 var(--animation-link2) ease;
}

.slide-in-up3 {
    animation: Slide_in_up3 var(--animation-link3) ease;
}

.slide-in-up4 {
    animation: Slide_in_up4 var(--animation-link4) ease;
}

@keyframes Slide_in_right1{
    
    0% {
        transform: translateX(-150px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes Slide_in_right2{
    
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes Slide_in_up1{
    
    0% {
        transform: translateY(calc(var(--animation-link1Nr) * 75px));
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes Slide_in_up2{
    
    0% {
        transform: translateY(calc(var(--animation-link2Nr) * 75px));
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes Slide_in_up3{
    
    0% {
        transform: translateY(calc(var(--animation-link3Nr) * 75px));
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes Slide_in_up4{
    
    0% {
        transform: translateY(calc(var(--animation-link4Nr) * 75px));
    }
    100% {
        transform: translateY(0px);
    }
}





.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
    background-color: #050A30;
}

.logo {
    display: flex;
}

.logo-name{
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 10px;  
}

.nav-links {
    font-family: 'Montserrat', sans-serif;
    color: #FBF9FA;
    list-style: none;
    font-size: 20px;
    background-color: #000C66;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.nav-links li {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}



.vorstellung {
    display: flex;
    height: 80vh;
}

.image {
    animation: Slide_in_right3 var(--animation-vorstellung-text-image);
}

@keyframes Slide_in_right3{
    
    0% {
        transform: translateX(calc(var(--animation-nameNr) * -75px));
    }
    87.5%{ 
        transform: translateX(calc(var(--animation-nameNr) * -75px));
    }
    100% {
        transform: translateX(0px);
    }
}

.vorstellung-text {
    list-style: none;
    transform: translateX(5%);
    margin-top: 6%;
    
}

.typewriter {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color:#7EC8E3;
    list-style: none;    
    height: 26px;
    overflow: hidden;
}

.typewriter li {
    position: relative;
    width: max-content;
    animation: slide calc(var(--typewriter) * 2) steps(2);
}

@keyframes slide {
    0% {
        top: -30px;
    }
    100% {
        top: +30px;
    }
}

.typewriter .text1::after {
    content: "";
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: #050A30;
    border-left: 2px solid #7EC8E3;
    left: 0;
    animation: typing1 var(--typewriter) steps(16);
}

.typewriter .text2::after {
    content: "";
    position:absolute;
    height: 0%;
    width: 0%;
    background-color: #050A30;
    border-left: 2px solid #7EC8E3;
    left: 0;
    animation: typing2 var(--typewriter) steps(16) 2;

}

@keyframes typing1 {
    40%,
    60% {
        left: calc(100%);
    }
    100% {
        left: 0;
    }
}

@keyframes typing2 {
    0% {
        height: 100%;
        width: 100%;
    }
    40%,
    60% {
        left: calc(100%);
    }
    100% {
        left: 100%;
        height: 100%;
        width: 100%;
    }
}

@keyframes idle {
    0% {
        
        opacity: 0%;
    }
    49%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
    
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color:#FBF9FA;
    padding-top: 2%;
    animation: Slide_in_up5 var(--animation-name) ease;
}

@keyframes Slide_in_up5{
    
    0% {
        transform: translateY(calc(var(--animation-nameNr) * 75px));
    }
    87.5%{ 
        transform: translateY(calc(var(--animation-nameNr) * 75px));
    }
    100% {
        transform: translateY(0px);
    }
}

.description {
    padding-top: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color:#FBF9FA;
    animation: Slide_in_up6 var(--animation-vorstellung-text-image);
}

@keyframes Slide_in_up6{
    
    0% {
        transform: translateY(calc(var(--animation-nameNr) * 75px));
    }
    87.5%{ 
        transform: translateY(calc(var(--animation-nameNr) * 75px));
    }
    100% {
        transform: translateY(0px);
    }
}





.titel {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color:#FBF9FA;
    text-align: center;
}

.uebermich {
    height: 100vh;
    background-color: #050A30
}

.schulischeLaufbahn {
    height: 100vh;
    background-color: #050A30
}

.kf {
    height: 100vh;
    background-color: #050A30
}

.kontakt {
    height: 100vh;
    background-color: #050A30
}